body,
button,
input,
textarea {
    font-family: "微软雅黑", sans-serif
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background: #FBDBEF;
    font-size: 2rem;
    overflow: auto
}

#mainDiv {
    width: 100%;
    height: 100%
}

#loveHeart {
    width: 670px;
    height: 625px
}

#garden {
    width: 100%;
    height: 100%
}

#elapseClock {
    text-align: right;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 10px
}

#words {
    font-family: "微软雅黑";
    width: 500px;
    font-size: 60px;
    color: #666
}

#messages {
    margin-top: 80px;
    margin-left: 80px;
    display: none
}

#elapseClock .digit {
    font-family: "digit";
    font-size: 70px
}

#loveu {
    padding: 5px;
    font-size: 22px;
    margin-top: 55px;
    margin-left: 80px;
    text-align: text;
    display: none
}

#loveu .signature {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic
}

#clickSound {
    display: none
}

#code {
    width: 50rem;
    height: 480px;
    color: #333;
    font-family: "微软雅黑";
    font-size: 3rem;
    line-height: 3.2rem;
}

#code .string {
    color: #2a36ff
}

#code .keyword {
    color: #7f0055;
    font-weight: bold
}

#code .space {
    margin-left: 7px
}

#code .comments {
    color: #F180C5
}

#errorMsg {
    width: 100%;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 100px;
    left: 0
}

#copyright a {
    color: #F180C5
}

.bb {
    display: block;
    text-align: center;
    padding-left: 100px;
    font-size: 40px;
    color: #F180C5
}

#yyxz {
    position: fixed;
    bottom: 6.8em;
    left: 8%;
    z-index: 9999;
}

body {
    background: url(../images/houtaibizhi.jpg);
}

audio,
embed {
    position: absolute;
    z-index: -9999;
    top: -9999px;
}